adafruit-circuitpython-dht==4.0.2
RPi.GPIO==0.7.1
dbus-python==1.3.2; sys_platform == "linux"
keyring==24.2.0
python-telegram-bot[job-queue]==20.4
schedule==1.2.0
black==23.3.0
numpy==1.25.1
matplotlib==3.7.2
opencv-python==4.8.0.74
paho-mqtt==1.6.1